@font-face {
  font-family: 'Big Bottom Cartoon';
  font-style: normal;
  font-weight: 400;
  src: url('/mushroom.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;
